<md-toolbar color="primary" >
  <h1>Dynasty Fantasy Draft 2016</h1>
  <span flex></span>
  <md-button class="md-raised" routerLink="/players">Players</md-button>
  <span style="width:30px"></span>
  <md-button routerLink="/user">User</md-button>
  <span style="width:30px"></span>
  <md-button routerLink="/login">{{ loginService.user ? loginService.user.username : "Login" }}</md-button>

  <span style="width:30px">  </span>
</md-toolbar>

<div layout="row">
  <div flex="30" style="border-right: 1px solid; border-bottom: 1px solid">
    <input placeholder="Message"  [(ngModel)]="message">
    <button  (click)="clicked()" md-raised-button >Submit</button>
    <ul>  
      <li class="chats" *ngFor="let chat of chats | async">
        <span><{{chat.name}}></span>
        {{chat.message}}
      </li>
    </ul>
  </div>



  <div flex="70">
        <router-outlet></router-outlet>
  </div>
</div>