<div layout="column">
  <div>
    <span>Salary: {{loginService.totalSalary}}</span>
    <span>Max Bid: {{loginService.maxBid}}</span>
  </div>
  <div flex>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Amount</th>
        <th>Years</th>
      </tr>
    </thead>
    <tbody *ngFor="let bid of userBids | async">
        <tr *ngIf="bid.isWinningBid">
            <td> {{ getPlayer(bid.player).name }} </td>
            <td> {{ getPlayer(bid.player).position }}</td>
            <td> {{bid.amount}} </td>
            <td> {{bid.years}} </td>
        </tr>
    </tbody>
  </table>
  </div>
</div>