
<div layout="column">
  <div>
    <span>Current Salary: {{salaryService.totalSalary}}</span>
    <span>Max Bid: {{salaryService.maxBid}}</span>
  </div>
  <div flex>
  <table>
    <thead>
      <tr>
          <th>Name</th>
          <th>Position</th>
          <th>Team</th>
          <th>Time Left</th>
          <th>Bid Time</th>
          <th>Amount</th>
          <th>Years</th>
          <th>Value</th>
      </tr>
    </thead>
    <tbody *ngFor="let bid of userBids | async">
        <tr *ngIf="bid.isWinningBid" [ngClass]="timeService.getTimeLeft(bid.time, timeService.datetime) == 'Bid Won' ? 'bid-won' : ''" >
          <td [routerLink]="[ '/player/' + (bid.playerInfo | async)?.$key ]"> {{ (bid.playerInfo | async)?.name }} </td>
          <td> {{ (bid.playerInfo | async)?.position }}</td>
          <td> {{ (bid.playerInfo | async)?.team }}</td>
          <td> {{ timeService.getTimeLeft(bid.time, timeService.datetime) }}</td>
          <td> {{ timeService.getLocalTimeFromTimeStamp(bid.time) }}
          <td> {{ bid.amount }} </td>
          <td> {{ bid.years }} </td>
          <td> {{ bid.value }} </td>
        </tr>
    </tbody>
  </table>
  </div>
</div>